body{
    margin: 0;
    font-family: sans-serif;
    border-style: solid;
    border-color: rgb(152,251,11);
    border-width: 19px;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
}

.logo{
    width: 200px;
    height: 80px;
}

header{
    background-color: rgb(152,251,11);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
}

a{
    text-decoration: none;   
}

.economia{
    height: 300px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.como{
    height: 300px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.versao{
    height: 300px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.sobre{
    height: 300px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.faq{
    height: 300px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#seção1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    align-items: center;
    display: inline;
    justify-content: center;   
    
}

seção2{
    
}

#seção4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    align-items: center;
    display: inline;
    justify-content: center;
    
}

#seção5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    align-items: center;
    display: inline;
    justify-content: center;
}

div{
    margin: 20px;
    background-color: purple;
}

footer{
    background-color: rgb(152,251,11);
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

