body{
    margin: 0;
}

body{
    margin:0;
}

aside {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-230px);
    transition: 1.2s;
}

aside h1{
    margin-top: 120px;
}

#hamburger{
    height: 36px;
    width: 36px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.tracinho{
    background-color: black;
    border-radius: 25%;
    height: 6px;
    margin-top: 5px;
    transition: 1.2s;
}

aside.active{
    transform: translateX(0);
    transition: 1.2s;
}

#hamburger.active .tracinho:nth-child(1){
    transform: rotate(45deg) translate(7px, 9px);
}

#hamburger.active .tracinho:nth-child(2){
    display: none;
}

#hamburger.active .tracinho:nth-child(3){
    transform: rotate(135deg);
}